<html>
<head>
    {% javascripts '@SimpleTaskBundle/Resources/public/js/*' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
</head>
<body>
    {% include 'SimpleTaskBundle:Label:_form.html.twig' %}
</body>
</html>